<h1><%= @recipe.name %></h1>

<h2>Ingredients</h2>

<div class="col-md-4">
  <ul>
    <% @recipe.recipeingredients.each do |ingredient| %>
      <li><%= ingredient.ingredient.name %></li>
    <% end %>
  </ul>

<h2>Base price: <%= number_to_currency @recipe.price %></h2>
  <h2><%= link_to 'Add to Cart' , root_path %></h2>
</div>